<% include ./partials/header %>

<br />

<div class="card argument-card">
    <div class="card-body">
        <b>Title:</b> <input type="text" class="form-control" value="<%= argument.title %>">
        <hr />

        <!--Premise-->
        <% for (var i = 0; i < argument.premises.length; i++) { %>
            <div class="card border-primary">
                <div class="card-body">
                    <div class="row">
                        <p class="col-md-11">
                            <b>Premise <%= i + 1 %></b>:
                        </p>
                    </div>

                    <div class="row">
                        <p class="col-md-11">
                            <textarea class="form-control"><%= argument.premises[i] %></textarea>
                        </p>
                        <button type="submit" class="btn btn-danger deletePremise"><i class="typcn typcn-trash" style="color: white"></i></button>
                    </div>
                </div>
            </div>
            <br />
        <% } %>

        <!--Conclusion-->
        <div class="card border-success">
            <div class="card-body">
                <div class="row">
                    <p class="col-md-11">
                        <b>Conclusion:</b>
                    </p> 
                </div>

                <div class="row">
                    <p class="col-md-12">
                        <textarea class="form-control"><%= argument.conclusion %></textarea>
                    </p>
                </div>
            </div>
        </div>
        <hr />

        <!--Delete argument-->
        <div class="row">
            <div class="col-md-12">
                <form action="/argument/<%= argument._id %>?_method=DELETE" method="POST" class="edit">
                    <button type="submit" class="btn btn-danger"><i class="typcn typcn-trash" style="color: white"></i></button>
                </form>

                <button class="btn btn-success"><i class="typcn typcn-tick" style="color: white"></i></button>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>