<% include ./partials/header %>

<br />

<div class="card argument-card">
    <div class="card-body">
        <h3 class="argumentTitle"><%= argument.title %></h3>
        <hr />

        <!--Premise-->
        <% for (var i = 0; i < argument.premises.length; i++) { %>
            <div class="card border-primary">
                <div class="card-body">
                    <div class="row">
                        <span class="col-md-11" contentEditable="true"><b>Premise <%= i + 1 %></b>: <%= argument.premises[i] %></span>
                        <button type="submit" class="btn btn-danger"><i class="typcn typcn-trash" style="color: white"></i></button>
                    </div>
                </div>
            </div>
            <br />
        <% } %>

        <!--Conclusion-->
        <div class="card border-success">
            <div class="card-body">
                <div class="row">
                    <span class="col-md-11" contentEditable="true"><b>Conclusion:</b> <%= argument.conclusion %></span>
                    <button type="submit" class="btn btn-danger"><i class="typcn typcn-trash" style="color: white"></i></button>
                </div>
            </div>
        </div>
        <hr />

        <!--Delete argument-->
        <div class="row">
            <div class="col-md-12">
                <form action="/argument/<%= argument._id %>?_method=DELETE" method="POST" class="edit">
                    <button type="submit" class="btn btn-danger"><i class="typcn typcn-trash" style="color: white"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>

<br />

<!--Edit form-->

<div class="col-md-4 argument-card">
    <h2>New Argument</h2>

    <form>
        <div class="form-group">
            <input type="text" id="title" class="form-control" placeholder="Argument Title">
        </div>
        <div class="form-group">
            <textarea rows="2" id="newPremise" name="premise" class="form-control" placeholder="Premise"></textarea>
        </div>
        <button type="button" id="addBtn" class="btn btn-success">Add premise</button>
        <ul id="premises">
            <!--Premises added programmatically-->
        </ul>
        <div class="form-group">
            <textarea type="text" id="conclusion" class="form-control" placeholder="Conclusion"></textarea>
        </div>
        <button id="sendBtn" type="button" class="btn btn-success">Submit</button>
    </form>
</div>

<br />

<% include ./partials/footer %>