<% include ./partials/header %>

<!--Header-->
<div class="container">
    <div class="jumbotron">
        <h1>Argument Workbench</h1>
    </div>

    <div class="container">
        <div class="row">
            <!--New argument form-->
            <div class="col-md-4">
                <h2>New Argument</h2>

                <form>
                    <div class="form-group">
                        <input type="text" id="title" class="form-control" placeholder="Argument Title">
                    </div>
                    <div class="form-group">
                        <textarea rows="2" id="newPremise" name="premise" class="form-control" placeholder="Premise"></textarea>
                    </div>
                    <button type="button" id="addBtn" class="btn btn-success">Add premise</button>
                    <ul id="premises">
                        <!--Premises added programmatically-->
                    </ul>
                    <div class="form-group">
                        <textarea type="text" id="conclusion" class="form-control" placeholder="Conclusion"></textarea>
                    </div>
                    <button id="sendBtn" type="button" class="btn btn-success">Submit</button>
                </form>
            </div>

            <!--Existing arguments list-->
            <div class="col-md-8" id="allArguments">
                <h2>Arguments</h2>

                <% for (var i = 0; i < arguments.length; i++) { %>
                    <div class="card">
                        <div class="card-body">
                            <h3 class="argumentTitle"><%= arguments[i].title %></h3>
                            <hr />

                            <!--Premise-->
                            <% for (var j = 0; j < arguments[i].premises.length; j++) { %>
                                <div class="card border-primary">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <b>Premise <%= j + 1 %></b>: <%= arguments[i].premises[j] %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                            <% } %>

                            <!--Conclusion-->
                            <div class="card border-success">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <b>Conclusion:</b> <%= arguments[i].conclusion %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />

                            <!--Edit or delete argument-->
                            <div class="row">
                                <div class="col-md-12">
                                    <form action="/argument/<%= arguments[i]._id %>?_method=DELETE" method="POST" class="edit">
                                        <button type="submit" class="btn btn-danger"><i class="typcn typcn-trash" style="color: white"></i></button>
                                    </form>
                                    <a href="/argument/<%= arguments[i]._id %>" class="btn btn-success"><i class="typcn typcn-pencil"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                <% } %>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>